.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color:#f6f6f6;
  /* align-items: center; */
}

.App-header {
  background-color: #b6b6b6;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.file-upload {
  padding-bottom: 20px;
  /* align-items: center; */
}

.markdown-result {
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  text-align: left;
  margin-left: 100px;
  margin-right: 100px;
}

pre {
  background-color: #e6e6e6;
  padding: 10px;
  border-radius: 5px;
  overflow-x: auto;
}

.error {
  color: red;
}

